@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* -- primary colors -- */
    --soft-orange: #E9AB53;
    --soft-red: #F15E50;
    
    /* -- neutral colors -- */
    --off-white: #FFFDFA;
    --grayish-blue: #C5C6CE;
    --dark-grayish-blue: #5D5F79;
    --very-dark-blue: #00001A;
}

body {
    background: var(--off-white);

    font-family: 'Inter', sans-serif;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;

    padding: 1.75rem 1rem;
}

body.menu-open:before {
    content: "";
    background: rgba(0, 0, 26, 0.5);

    position: fixed;
    top: 0;
    left: 0;

    height: 100vh;
    width: 100%;
}

.header-mobile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 2rem;
}

.header-mobile button {
    border: none;
    background: none;

    width: fit-content;
}

.header-mobile nav {
    background-color: var(--off-white);

    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: 16rem;

    z-index: 999;

    display: flex;
    flex-direction: column;

    padding: 1.5rem;
    gap: 1.5rem;

    display: none;
}

.header-mobile nav a {
    color: var(--very-dark-blue);

    font-size: 1.125rem;
    line-height: 1.5rem;

    text-decoration: none;
}

.header-mobile nav button {
    align-self: flex-end;

    margin-bottom: 4rem;
}

.first-section {
    margin-bottom: 4rem;
}

.first-section img {
    width: 100%;
    margin-bottom: 1.5rem;
}

.first-section h1 {
    color: var(--very-dark-blue);

    font-size: 2.5rem;
    line-height: 100%;

    margin-bottom: 1rem;
}

.first-section p {
    color: var(--dark-grayish-blue);

    font-size: 0.9375rem;
    line-height: 1.625rem;

    margin-bottom: 1.5rem;
}

.first-section button {
    background: var(--soft-red);
    color: var(--off-white);

    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.275rem;
    line-height: 1.5rem;

    padding: 0.75rem 2rem;

    border: none;
    cursor: pointer;
}

.second-section {
    background: var(--very-dark-blue);

    padding: 1.5rem 1.1rem;

    margin-bottom: 4rem;
}

.line-distance {
    border-bottom: 1px solid var(--grayish-blue);
    margin-bottom: 1.75rem;
    padding-bottom: 1.75rem;
}

.second-section h2 {
    color: var(--soft-orange);

    font-size: 2rem;
    line-height: 100%;

    margin-bottom: 2rem;
}

.second-section h3 {
    color: var(--off-white);

    font-size: 1.25rem;
    font-weight: 800;
    line-height: 1.5rem;

    margin-bottom: 0.5rem;
}

.second-section p {
    color: var(--grayish-blue);

    font-size: 0.9375rem;
    line-height: 1.625rem;
}

.third-section > div {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.third-section img {
    max-width: 6.25rem;
}

.third-section strong {
    color: var(--grayish-blue);

    font-size: 2rem;
    line-height: 100%;
}
.third-section h2 {
    color: var(--very-dark-blue);

    font-size: 1.125rem;
    font-weight: 800;
    line-height: 1.5rem;

    margin-block: 0.6rem;
}

.third-section p {
    color: var(--dark-grayish-blue);

    font-size: 0.9375rem;
    line-height: 1.625rem;
}